# <b>Introduction to Python Programming</b>

<p> We can also embred LaTeX formulas by surrounding the equations with \$ </p>

<b>Example</b> $\sqrt(100)$ or $100^2$

In [30]:
#Basic Mathematical Operators


add = 1 + 3
subtraction = 3 - 1
multiplication = 5 * 5
division = 9 / 3
power = 3 ** 3
sqrt = 6 ** 0.5
remainder = 21%4

In [9]:
#Checking Variable Type use the type() function

print(type(5)) # Integer
print(type(5.0)) # Float
print(type('Hi')) # String
print(type([1,2])) # List
print((type({1,2}))) # Set
print((type({'a':1}))) # Dictionary
print((type(True))) # Boolean

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'set'>
<class 'dict'>
<class 'bool'>

In [10]:
#Multiline Strings

m_strings = """
**************************************

Welcome to the world of Data Analytics

**************************************
"""

print(m_strings)

**************************************

Welcome to the world of Data Analytics

**************************************

## Common Functions

In [23]:
# input("Question") : ask for user's input
name = input("What is your name?")
name

What is your name? Joel

'Joel'

### Exercises 2.15

In [34]:
# Exercise 2 - ask for the user for their names and welcome them.
name = input("Enter your name:")
print("Hello", name)

Enter your name: Joel

Hello Joel

In [44]:
# Exercise 3 - calculate the pay based on hours and payrate
hours = float(input("Enter Hours:"))
rate = float(input("Enter Rate:"))
print("Pay:", hours*rate)

Enter Hours: 5
Enter Rate: 5

Pay: 25.0

In [46]:
# Excercise 4 - calculate and show the type
width = 17
height = 12.0

print(width//2, type(width//2))
print(width/2.0, type(width/2.0))
print(height/3 , type(height/3))
print(1+2*5, type(1+2*5))

8 <class 'int'>
8.5 <class 'float'>
4.0 <class 'float'>
11 <class 'int'>

In [52]:
# Celsius to Fahrenheit Converter
temp_c = float(input("Enter temperature in Celsius:"))
temp_f = ((9/5) * temp_c) + 32
print("Temperature in Fahrenheit:", temp_f)

Enter temperature in Celsius: 20

Temperature in Fahrenheit: 68.0